:root {
	--color-dark-magenta: #f0a;
	--color-dark-red: #f00;
	--color-yellow-orange: #fa0;
	--color-light-vibrant-yellow: #ff0;
	--color-light-vibrant-green: #af0;
	--color-vibrant-green: #0f0;
	--color-vibrant-blue-green: #0fa;
	--color-vibrant-cyan: #0ff;
	--color-cyan-blue: #0af;
	--color-dark-blue: #00f;
	--color-dark-purple: #a0f;

	--point-1: calc(100 / 24 / 2 * 1vw);
	--point-2: calc(100 / 24 / 2 * 2vw);
	--point-3: calc(100 / 24 / 2 * 3vw);
	--point-4: calc(100 / 24 / 2 * 4vw);
	--point-5: calc(100 / 24 / 2 * 5vw);
	--point-6: calc(100 / 24 / 2 * 6vw);
	--point-7: calc(100 / 24 / 2 * 7vw);
	--point-8: calc(100 / 24 / 2 * 8vw);
	--point-9: calc(100 / 24 / 2 * 9vw);
	--point-10: calc(100 / 24 / 2 * 10vw);
	--point-11: calc(100 / 24 / 2 * 11vw);
	--point-12: calc(100 / 24 / 2 * 12vw);
	--point-13: calc(100 / 24 / 2 * 13vw);
	--point-14: calc(100 / 24 / 2 * 14vw);
	--point-15: calc(100 / 24 / 2 * 15vw);
	--point-16: calc(100 / 24 / 2 * 16vw);
	--point-17: calc(100 / 24 / 2 * 17vw);
	--point-18: calc(100 / 24 / 2 * 18vw);
	--point-19: calc(100 / 24 / 2 * 19vw);
	--point-20: calc(100 / 24 / 2 * 20vw);
	--point-21: calc(100 / 24 / 2 * 21vw);
	--point-22: calc(100 / 24 / 2 * 22vw);
	--point-23: calc(100 / 24 / 2 * 23vw);
	--point-24: calc(100 / 24 / 2 * 24vw);

	--bounce-unit: 3em;
}

@keyframes rainbow {
	0% {
		box-shadow: inset 0 0 0 var(--point-1) var(--color-dark-magenta), inset 0 0 0 var(--point-2) var(--color-dark-red), inset 0 0 0 var(--point-3) var(--color-yellow-orange), inset 0 0 0 var(--point-4) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-5) var(--color-light-vibrant-green), inset 0 0 0 var(--point-6) var(--color-vibrant-green), inset 0 0 0 var(--point-7) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-8) var(--color-vibrant-cyan), inset 0 0 0 var(--point-9) var(--color-cyan-blue), inset 0 0 0 var(--point-10) var(--color-dark-blue), inset 0 0 0 var(--point-11) var(--color-dark-purple), inset 0 0 0 var(--point-12) var(--color-dark-magenta), inset 0 0 0 var(--point-13) var(--color-dark-magenta), inset 0 0 0 var(--point-14) var(--color-dark-red), inset 0 0 0 var(--point-15) var(--color-yellow-orange), inset 0 0 0 var(--point-16) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-17) var(--color-light-vibrant-green), inset 0 0 0 var(--point-18) var(--color-vibrant-green), inset 0 0 0 var(--point-19) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-20) var(--color-vibrant-cyan), inset 0 0 0 var(--point-21) var(--color-cyan-blue), inset 0 0 0 var(--point-22) var(--color-dark-blue), inset 0 0 0 var(--point-23) var(--color-dark-purple), inset 0 0 0 var(--point-24) var(--color-dark-magenta);
	}
	9.0909090909% {
		box-shadow: inset 0 0 0 var(--point-1) var(--color-dark-magenta), inset 0 0 0 var(--point-2) var(--color-dark-magenta), inset 0 0 0 var(--point-3) var(--color-dark-red), inset 0 0 0 var(--point-4) var(--color-yellow-orange), inset 0 0 0 var(--point-5) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-6) var(--color-light-vibrant-green), inset 0 0 0 var(--point-7) var(--color-vibrant-green), inset 0 0 0 var(--point-8) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-9) var(--color-vibrant-cyan), inset 0 0 0 var(--point-10) var(--color-cyan-blue), inset 0 0 0 var(--point-11) var(--color-dark-blue), inset 0 0 0 var(--point-12) var(--color-dark-purple), inset 0 0 0 var(--point-13) var(--color-dark-magenta), inset 0 0 0 var(--point-14) var(--color-dark-magenta), inset 0 0 0 var(--point-15) var(--color-dark-red), inset 0 0 0 var(--point-16) var(--color-yellow-orange), inset 0 0 0 var(--point-17) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-18) var(--color-light-vibrant-green), inset 0 0 0 var(--point-19) var(--color-vibrant-green), inset 0 0 0 var(--point-20) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-21) var(--color-vibrant-cyan), inset 0 0 0 var(--point-22) var(--color-cyan-blue), inset 0 0 0 var(--point-23) var(--color-dark-blue), inset 0 0 0 var(--point-24) var(--color-dark-purple);
	}
	18.1818181818% {
		box-shadow: inset 0 0 0 var(--point-1) var(--color-dark-purple), inset 0 0 0 var(--point-2) var(--color-dark-magenta), inset 0 0 0 var(--point-3) var(--color-dark-magenta), inset 0 0 0 var(--point-4) var(--color-dark-red), inset 0 0 0 var(--point-5) var(--color-yellow-orange), inset 0 0 0 var(--point-6) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-7) var(--color-light-vibrant-green), inset 0 0 0 var(--point-8) var(--color-vibrant-green), inset 0 0 0 var(--point-9) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-10) var(--color-vibrant-cyan), inset 0 0 0 var(--point-11) var(--color-cyan-blue), inset 0 0 0 var(--point-12) var(--color-dark-blue), inset 0 0 0 var(--point-13) var(--color-dark-purple), inset 0 0 0 var(--point-14) var(--color-dark-magenta), inset 0 0 0 var(--point-15) var(--color-dark-magenta), inset 0 0 0 var(--point-16) var(--color-dark-red), inset 0 0 0 var(--point-17) var(--color-yellow-orange), inset 0 0 0 var(--point-18) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-19) var(--color-light-vibrant-green), inset 0 0 0 var(--point-20) var(--color-vibrant-green), inset 0 0 0 var(--point-21) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-22) var(--color-vibrant-cyan), inset 0 0 0 var(--point-23) var(--color-cyan-blue), inset 0 0 0 var(--point-24) var(--color-dark-blue);
	}
	27.2727272727% {
		box-shadow: inset 0 0 0 var(--point-1) var(--color-dark-blue), inset 0 0 0 var(--point-2) var(--color-dark-purple), inset 0 0 0 var(--point-3) var(--color-dark-magenta), inset 0 0 0 var(--point-4) var(--color-dark-magenta), inset 0 0 0 var(--point-5) var(--color-dark-red), inset 0 0 0 var(--point-6) var(--color-yellow-orange), inset 0 0 0 var(--point-7) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-8) var(--color-light-vibrant-green), inset 0 0 0 var(--point-9) var(--color-vibrant-green), inset 0 0 0 var(--point-10) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-11) var(--color-vibrant-cyan), inset 0 0 0 var(--point-12) var(--color-cyan-blue), inset 0 0 0 var(--point-13) var(--color-dark-blue), inset 0 0 0 var(--point-14) var(--color-dark-purple), inset 0 0 0 var(--point-15) var(--color-dark-magenta), inset 0 0 0 var(--point-16) var(--color-dark-magenta), inset 0 0 0 var(--point-17) var(--color-dark-red), inset 0 0 0 var(--point-18) var(--color-yellow-orange), inset 0 0 0 var(--point-19) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-20) var(--color-light-vibrant-green), inset 0 0 0 var(--point-21) var(--color-vibrant-green), inset 0 0 0 var(--point-22) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-23) var(--color-vibrant-cyan), inset 0 0 0 var(--point-24) var(--color-cyan-blue);
	}
	36.3636363636% {
		box-shadow: inset 0 0 0 var(--point-1) var(--color-cyan-blue), inset 0 0 0 var(--point-2) var(--color-dark-blue), inset 0 0 0 var(--point-3) var(--color-dark-purple), inset 0 0 0 var(--point-4) var(--color-dark-magenta), inset 0 0 0 var(--point-5) var(--color-dark-magenta), inset 0 0 0 var(--point-6) var(--color-dark-red), inset 0 0 0 var(--point-7) var(--color-yellow-orange), inset 0 0 0 var(--point-8) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-9) var(--color-light-vibrant-green), inset 0 0 0 var(--point-10) var(--color-vibrant-green), inset 0 0 0 var(--point-11) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-12) var(--color-vibrant-cyan), inset 0 0 0 var(--point-13) var(--color-cyan-blue), inset 0 0 0 var(--point-14) var(--color-dark-blue), inset 0 0 0 var(--point-15) var(--color-dark-purple), inset 0 0 0 var(--point-16) var(--color-dark-magenta), inset 0 0 0 var(--point-17) var(--color-dark-magenta), inset 0 0 0 var(--point-18) var(--color-dark-red), inset 0 0 0 var(--point-19) var(--color-yellow-orange), inset 0 0 0 var(--point-20) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-21) var(--color-light-vibrant-green), inset 0 0 0 var(--point-22) var(--color-vibrant-green), inset 0 0 0 var(--point-23) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-24) var(--color-vibrant-cyan);
	}
	45.4545454545% {
		box-shadow: inset 0 0 0 var(--point-1) var(--color-vibrant-cyan), inset 0 0 0 var(--point-2) var(--color-cyan-blue), inset 0 0 0 var(--point-3) var(--color-dark-blue), inset 0 0 0 var(--point-4) var(--color-dark-purple), inset 0 0 0 var(--point-5) var(--color-dark-magenta), inset 0 0 0 var(--point-6) var(--color-dark-magenta), inset 0 0 0 var(--point-7) var(--color-dark-red), inset 0 0 0 var(--point-8) var(--color-yellow-orange), inset 0 0 0 var(--point-9) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-10) var(--color-light-vibrant-green), inset 0 0 0 var(--point-11) var(--color-vibrant-green), inset 0 0 0 var(--point-12) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-13) var(--color-vibrant-cyan), inset 0 0 0 var(--point-14) var(--color-cyan-blue), inset 0 0 0 var(--point-15) var(--color-dark-blue), inset 0 0 0 var(--point-16) var(--color-dark-purple), inset 0 0 0 var(--point-17) var(--color-dark-magenta), inset 0 0 0 var(--point-18) var(--color-dark-magenta), inset 0 0 0 var(--point-19) var(--color-dark-red), inset 0 0 0 var(--point-20) var(--color-yellow-orange), inset 0 0 0 var(--point-21) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-22) var(--color-light-vibrant-green), inset 0 0 0 var(--point-23) var(--color-vibrant-green), inset 0 0 0 var(--point-24) var(--color-vibrant-blue-green);
	}
	54.5454545455% {
		box-shadow: inset 0 0 0 var(--point-1) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-2) var(--color-vibrant-cyan), inset 0 0 0 var(--point-3) var(--color-cyan-blue), inset 0 0 0 var(--point-4) var(--color-dark-blue), inset 0 0 0 var(--point-5) var(--color-dark-purple), inset 0 0 0 var(--point-6) var(--color-dark-magenta), inset 0 0 0 var(--point-7) var(--color-dark-magenta), inset 0 0 0 var(--point-8) var(--color-dark-red), inset 0 0 0 var(--point-9) var(--color-yellow-orange), inset 0 0 0 var(--point-10) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-11) var(--color-light-vibrant-green), inset 0 0 0 var(--point-12) var(--color-vibrant-green), inset 0 0 0 var(--point-13) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-14) var(--color-vibrant-cyan), inset 0 0 0 var(--point-15) var(--color-cyan-blue), inset 0 0 0 var(--point-16) var(--color-dark-blue), inset 0 0 0 var(--point-17) var(--color-dark-purple), inset 0 0 0 var(--point-18) var(--color-dark-magenta), inset 0 0 0 var(--point-19) var(--color-dark-magenta), inset 0 0 0 var(--point-20) var(--color-dark-red), inset 0 0 0 var(--point-21) var(--color-yellow-orange), inset 0 0 0 var(--point-22) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-23) var(--color-light-vibrant-green), inset 0 0 0 var(--point-24) var(--color-vibrant-green);
	}
	63.6363636364% {
		box-shadow: inset 0 0 0 var(--point-1) var(--color-vibrant-green), inset 0 0 0 var(--point-2) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-3) var(--color-vibrant-cyan), inset 0 0 0 var(--point-4) var(--color-cyan-blue), inset 0 0 0 var(--point-5) var(--color-dark-blue), inset 0 0 0 var(--point-6) var(--color-dark-purple), inset 0 0 0 var(--point-7) var(--color-dark-magenta), inset 0 0 0 var(--point-8) var(--color-dark-magenta), inset 0 0 0 var(--point-9) var(--color-dark-red), inset 0 0 0 var(--point-10) var(--color-yellow-orange), inset 0 0 0 var(--point-11) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-12) var(--color-light-vibrant-green), inset 0 0 0 var(--point-13) var(--color-vibrant-green), inset 0 0 0 var(--point-14) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-15) var(--color-vibrant-cyan), inset 0 0 0 var(--point-16) var(--color-cyan-blue), inset 0 0 0 var(--point-17) var(--color-dark-blue), inset 0 0 0 var(--point-18) var(--color-dark-purple), inset 0 0 0 var(--point-19) var(--color-dark-magenta), inset 0 0 0 var(--point-20) var(--color-dark-magenta), inset 0 0 0 var(--point-21) var(--color-dark-red), inset 0 0 0 var(--point-22) var(--color-yellow-orange), inset 0 0 0 var(--point-23) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-24) var(--color-light-vibrant-green);
	}
	72.7272727273% {
		box-shadow: inset 0 0 0 var(--point-1) var(--color-light-vibrant-green), inset 0 0 0 var(--point-2) var(--color-vibrant-green), inset 0 0 0 var(--point-3) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-4) var(--color-vibrant-cyan), inset 0 0 0 var(--point-5) var(--color-cyan-blue), inset 0 0 0 var(--point-6) var(--color-dark-blue), inset 0 0 0 var(--point-7) var(--color-dark-purple), inset 0 0 0 var(--point-8) var(--color-dark-magenta), inset 0 0 0 var(--point-9) var(--color-dark-magenta), inset 0 0 0 var(--point-10) var(--color-dark-red), inset 0 0 0 var(--point-11) var(--color-yellow-orange), inset 0 0 0 var(--point-12) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-13) var(--color-light-vibrant-green), inset 0 0 0 var(--point-14) var(--color-vibrant-green), inset 0 0 0 var(--point-15) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-16) var(--color-vibrant-cyan), inset 0 0 0 var(--point-17) var(--color-cyan-blue), inset 0 0 0 var(--point-18) var(--color-dark-blue), inset 0 0 0 var(--point-19) var(--color-dark-purple), inset 0 0 0 var(--point-20) var(--color-dark-magenta), inset 0 0 0 var(--point-21) var(--color-dark-magenta), inset 0 0 0 var(--point-22) var(--color-dark-red), inset 0 0 0 var(--point-23) var(--color-yellow-orange), inset 0 0 0 var(--point-24) var(--color-light-vibrant-yellow);
	}
	81.8181818182% {
		box-shadow: inset 0 0 0 var(--point-1) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-2) var(--color-light-vibrant-green), inset 0 0 0 var(--point-3) var(--color-vibrant-green), inset 0 0 0 var(--point-4) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-5) var(--color-vibrant-cyan), inset 0 0 0 var(--point-6) var(--color-cyan-blue), inset 0 0 0 var(--point-7) var(--color-dark-blue), inset 0 0 0 var(--point-8) var(--color-dark-purple), inset 0 0 0 var(--point-9) var(--color-dark-magenta), inset 0 0 0 var(--point-10) var(--color-dark-magenta), inset 0 0 0 var(--point-11) var(--color-dark-red), inset 0 0 0 var(--point-12) var(--color-yellow-orange), inset 0 0 0 var(--point-13) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-14) var(--color-light-vibrant-green), inset 0 0 0 var(--point-15) var(--color-vibrant-green), inset 0 0 0 var(--point-16) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-17) var(--color-vibrant-cyan), inset 0 0 0 var(--point-18) var(--color-cyan-blue), inset 0 0 0 var(--point-19) var(--color-dark-blue), inset 0 0 0 var(--point-20) var(--color-dark-purple), inset 0 0 0 var(--point-21) var(--color-dark-magenta), inset 0 0 0 var(--point-22) var(--color-dark-magenta), inset 0 0 0 var(--point-23) var(--color-dark-red), inset 0 0 0 var(--point-24) var(--color-yellow-orange);
	}
	90.9090909091% {
		box-shadow: inset 0 0 0 var(--point-1) var(--color-yellow-orange), inset 0 0 0 var(--point-2) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-3) var(--color-light-vibrant-green), inset 0 0 0 var(--point-4) var(--color-vibrant-green), inset 0 0 0 var(--point-5) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-6) var(--color-vibrant-cyan), inset 0 0 0 var(--point-7) var(--color-cyan-blue), inset 0 0 0 var(--point-8) var(--color-dark-blue), inset 0 0 0 var(--point-9) var(--color-dark-purple), inset 0 0 0 var(--point-10) var(--color-dark-magenta), inset 0 0 0 var(--point-11) var(--color-dark-magenta), inset 0 0 0 var(--point-12) var(--color-dark-red), inset 0 0 0 var(--point-13) var(--color-yellow-orange), inset 0 0 0 var(--point-14) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-15) var(--color-light-vibrant-green), inset 0 0 0 var(--point-16) var(--color-vibrant-green), inset 0 0 0 var(--point-17) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-18) var(--color-vibrant-cyan), inset 0 0 0 var(--point-19) var(--color-cyan-blue), inset 0 0 0 var(--point-20) var(--color-dark-blue), inset 0 0 0 var(--point-21) var(--color-dark-purple), inset 0 0 0 var(--point-22) var(--color-dark-magenta), inset 0 0 0 var(--point-23) var(--color-dark-magenta), inset 0 0 0 var(--point-24) var(--color-dark-red);
	}
	100% {
		box-shadow: inset 0 0 0 var(--point-1) var(--color-dark-red), inset 0 0 0 var(--point-2) var(--color-yellow-orange), inset 0 0 0 var(--point-3) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-4) var(--color-light-vibrant-green), inset 0 0 0 var(--point-5) var(--color-vibrant-green), inset 0 0 0 var(--point-6) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-7) var(--color-vibrant-cyan), inset 0 0 0 var(--point-8) var(--color-cyan-blue), inset 0 0 0 var(--point-9) var(--color-dark-blue), inset 0 0 0 var(--point-10) var(--color-dark-purple), inset 0 0 0 var(--point-11) var(--color-dark-magenta), inset 0 0 0 var(--point-12) var(--color-dark-magenta), inset 0 0 0 var(--point-13) var(--color-dark-red), inset 0 0 0 var(--point-14) var(--color-yellow-orange), inset 0 0 0 var(--point-15) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-16) var(--color-light-vibrant-green), inset 0 0 0 var(--point-17) var(--color-vibrant-green), inset 0 0 0 var(--point-18) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-19) var(--color-vibrant-cyan), inset 0 0 0 var(--point-20) var(--color-cyan-blue), inset 0 0 0 var(--point-21) var(--color-dark-blue), inset 0 0 0 var(--point-22) var(--color-dark-purple), inset 0 0 0 var(--point-23) var(--color-dark-magenta), inset 0 0 0 var(--point-24) var(--color-dark-magenta);
	}
}

@keyframes bounce {
	25% {
		transform: translate(calc(1 * var(--bounce-unit)), calc(1 * 0.25 * var(--bounce-unit)));
	}

	50% {
		transform: translate(0%, 0px);
	}

	75% {
		transform: translate(calc(-1 * var(--bounce-unit)), calc(-1 * 0.25 * var(--bounce-unit)));
	}
}

body {
	min-height: 100vh;
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.is-randomizing {
	overflow-x: hidden;
	box-shadow: inset 0 0 0 var(--point-1) var(--color-dark-red), inset 0 0 0 var(--point-2) var(--color-yellow-orange), inset 0 0 0 var(--point-3) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-4) var(--color-light-vibrant-green), inset 0 0 0 var(--point-5) var(--color-vibrant-green), inset 0 0 0 var(--point-6) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-7) var(--color-vibrant-cyan), inset 0 0 0 var(--point-8) var(--color-cyan-blue), inset 0 0 0 var(--point-9) var(--color-dark-blue), inset 0 0 0 var(--point-10) var(--color-dark-purple), inset 0 0 0 var(--point-11) var(--color-dark-magenta), inset 0 0 0 var(--point-12) var(--color-dark-magenta), inset 0 0 0 var(--point-13) var(--color-dark-red), inset 0 0 0 var(--point-14) var(--color-yellow-orange), inset 0 0 0 var(--point-15) var(--color-light-vibrant-yellow), inset 0 0 0 var(--point-16) var(--color-light-vibrant-green), inset 0 0 0 var(--point-17) var(--color-vibrant-green), inset 0 0 0 var(--point-18) var(--color-vibrant-blue-green), inset 0 0 0 var(--point-19) var(--color-vibrant-cyan), inset 0 0 0 var(--point-20) var(--color-cyan-blue), inset 0 0 0 var(--point-21) var(--color-dark-blue), inset 0 0 0 var(--point-22) var(--color-dark-purple), inset 0 0 0 var(--point-23) var(--color-dark-magenta), inset 0 0 0 var(--point-24) var(--color-dark-magenta);
	animation: rainbow 250ms infinite;
	user-select: none;
}

.is-randomizing main {
	animation: bounce 350ms infinite;
	animation-timing-function: linear;
}

main {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	padding: 2rem;
	margin: 0px auto;
	max-width: 600px;
	width: 100%;
	box-sizing: border-box;
}

main > * {
	flex-basis: 100%;
}

.top-hat {
	flex-basis: auto;
	margin: 0px auto;
	width: 150px;
}

h1 {
	margin: 1rem 0px 1.5rem;
	text-align: center;
}

.entries {
	flex-basis: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	counter-reset: entries;
}

.entries-list-copy {
	display: none;
}

.entry {
	position: relative;
	padding: 0.25em;
	width: 100%;
	background: rgba(255 255 255 / 0.75);
	border: 1px solid black;
	font-size: 1.5rem;
	text-align: center;
}

.entry:before {
	counter-increment: entries;
	content: counter(entries) ".";
	position: absolute;
	top: 50%;
	right: calc(100% + 0.375em);
	transform: translate(0px, -50%);
	font-size: 0.625em;
	text-align: right;
}

.entry:empty:after {
	content: 'Item';
	position: absolute;
	top: 0.25em;
	left: 50%;
	transform: translate(-50%, 0px);
	opacity: 0.5;
}

.entry:focus {
	outline: 0px;
}

.message {
	color: red;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.message:empty {
	display: none;
}

button {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
	width: 100%;
	-webkit-appearance: none;
	appearance: none;
	padding: 0.25em;
	color: #000;
	border-radius: 0.25rem;
	border: 1px solid currentColor;
}

button:hover {
	opacity: 0.65;
	cursor: pointer;
}

button:active {
	opacity: 0.8;
	transform: translate(1px, 1px);
}

button svg {
	display: block;
	width: 1em;
	height: 1em;
	font-size: 1em;
}

#toggleRandomizing {
	text-transform: uppercase;
	font-size: 2rem;
}

#addEntry,
#clearEntries,
#copyOrder {
	flex-basis: calc((100% - 1rem) / 3);
}

.is-randomizing #addEntry,
.is-randomizing #clearEntries,
.is-randomizing #copyOrder {
	display: none;
}
